@model IEnumerable<Homeappliences_application.Models.category>

@{
    ViewBag.Title = "Index";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("Create New", "Create","Category", new { @class = "btn btn-success" })
</p>
<table class="table table table-bordered table-hover table-striped">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category1)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category1)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-info " }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
