@using Antlr.Runtime.Tree
@model IEnumerable<Homeappliences_application.Models.product>

@{
    ViewBag.Title = "Index";
}

<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create","Product", new { @class = "btn btn-success" })
</p>
<table class="table table table-bordered table-hover table-striped">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.brand.brand1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.category1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brand.brand1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.category1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id },new{@class="btn btn-info "}) |
                @Html.ActionLink("Details", "Details", new { id = item.id} ,new{@class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id },new{@class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
